.q-card.rounded-borders[data-v-26ee27dc] {
  border-radius: 24px;
}
.q-card .q-item.rounded-borders[data-v-26ee27dc] {
  border-radius: 16px;
}
.q-item.rounded-borders[data-v-26ee27dc] {
  border-radius: 8px;
}
.card.dialog[data-v-26ee27dc] {
  width: 100%;
  max-width: min(100vw - 16px, 1000px);
}.q-card.rounded-borders[data-v-b095a25b] {
  border-radius: 24px;
}
.q-card .q-item.rounded-borders[data-v-b095a25b] {
  border-radius: 16px;
}
.q-item.rounded-borders[data-v-b095a25b] {
  border-radius: 8px;
}
.controls__dpad[data-v-b095a25b] {
  border: 2px solid #ff9722;
  width: 168px;
  height: 168px;
  border-radius: 84px;
}
.dpad[data-v-b095a25b] {
  background-color: #491d00;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: ". top ." "left center right" ". bottom .";
  align-items: center;
  justify-items: center;
}
.dpad__top[data-v-b095a25b] {
  grid-area: top;
  transform: rotate(180deg);
}
.dpad__right[data-v-b095a25b] {
  grid-area: right;
  transform: rotate(-90deg);
}
.dpad__bottom[data-v-b095a25b] {
  grid-area: bottom;
}
.dpad__left[data-v-b095a25b] {
  grid-area: left;
  transform: rotate(90deg);
}
.dpad__center[data-v-b095a25b] {
  grid-area: center;
}
.expandView__wrapper[data-v-b095a25b] {
  background: linear-gradient(180deg, #090400, #210f00);
}
.scanLine[data-v-b095a25b] {
  background: linear-gradient(to bottom, rgba(254, 138, 44, 0) 0%, rgba(254, 138, 44, 0.01) 60%, rgba(254, 138, 44, 0.07) 99%, rgba(254, 138, 44, 0) 100%);
  background-size: 100% 320px;
  background-repeat: no-repeat;
  animation: moveGradient-b095a25b 4s linear infinite;
}
@keyframes moveGradient-b095a25b {
0% {
    background-position: 0 -320px;
}
100% {
    background-position: 0 100vh;
}
}