.q-card.rounded-borders[data-v-0a8a8ab8] {
  border-radius: 24px;
}
.q-card .q-item.rounded-borders[data-v-0a8a8ab8] {
  border-radius: 16px;
}
.q-item.rounded-borders[data-v-0a8a8ab8] {
  border-radius: 8px;
}
.args-inputs-container .q-field[data-v-0a8a8ab8] {
  min-width: 70px;
  max-width: 115px;
}